.blog-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog-list .blog-post {
    padding: 1em;
    width: 32%;
    align-self: stretch;
    border: 1px solid black;
}

.blog-list .blog-post h4 {
    font-size: 3em;
}
